*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./tree.jpg');
}
.form-container{
    display: flex;
    width: 1000px;
    height: 600px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    overflow: hidden;
}
.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0 30% 20% 0;
    transition: border-radius .3s;
}
.image-layer{
    position: relative;

}

.featured-words{
    font-weight: 600;
    color: #21264d;
}

.col-2{
    position: relative;
    width: 45%;
    padding: 20px;
    overflow: hidden;
}
.btn-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.btn{
    font-weight: 500;
    padding: 5px 30px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .2s; 
}
.btn-1{
    background: #21264d;
}
.btn:hover{
    opacity: 0.85;
}
.login-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
}

.register-form{
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4vw;
    transition: .3s;
}
.register-form .form-title{
    margin-block: 40px 20px;
}
.form-title{
    margin: 40px 0;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
}
.form-inputs{
    width: 100%;
}
.input-box{
position: relative;
}
.input-field{
    width: 100%;
    padding: 0px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
::placeholder{
    color: #fff;
    font-size: 15px;
}
.input-box .icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
}
.forgot-pass{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.forgot-pass a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.input-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: #21264d;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
}
.input-submit:hover{
    gap: 15px;
}
.social-login{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.social-login i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .2s;
}
.social-login i:hover{
    transform: scale(0.9);
}
@media (max-width: 768px){
    .form-container{
        width: 400px
    }
    .col-1{
        display: none;
    }
    .col-2{
        width: 100%;
    }
}
