@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Inter_18pt-Regular";
  src: url("../fonts/Inter/static/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: "Inter_18pt-SemiBold";
  src: url("../fonts/Inter/static/Inter_18pt-SemiBold.ttf");
}
@font-face {
  font-family: "Inter_18pt-Bold";
  src: url("../fonts/Inter/static/Inter_18pt-Bold.ttf");
}


:root
{
--red-color: #DB4444;
 --red-hover: #C13A3A; 
  
  --grey-color: #F5F5F5;
  --grey-hover: #E8E8E8;
  
  --sec-grey-color: #2F2E30;
  --sec-grey-hover: #242325;
  
  --yellow-color: #FFAD33;
  --yellow-hover: #FF9A00; 
  
  --black-color: #000000;
  --black-hover: rgba(0, 0, 0, 0.8);
  --white-color: #FAFAFA;
  --white-hover: rgba(250, 250, 250, 0.8);
  
  --green-color: #00FF66;
  --green-hover: #00CC52; 
--hover-transition:0.2s ease-out;  

--text-opacity:0.5;

--border:1px solid rgba(0, 0, 0, 0.5);

--box-shadow:0px 1px 13 0 rgba(0, 0, 0, 0.05);

--poppines-regular:"Poppins-Regular";
--poppines-semi-bold:"Poppins-SemiBold";
--poppines-bold:"Poppins-Bold";

--Inter-regular:"Inter_18pt-Regular";
--Inter-semi-bold:"Inter_18pt-SemiBold";
--Inter-bold:"Inter_18pt-Bold";

--header-size:36px;
--text-size:16px;
--sec-text-size:20px;
--input-txt-size:12px;

}

body {
    font-family: var(--poppines-regular);
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.image-section {
    width: 50%;
    background-color:var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px; 
}

.image-section img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.form-section {
    width: 50%;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-section p {
    color: var(--black-color);
    margin-bottom: 30px;
}

.form-section input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.form-section input::placeholder {
    color: var(--text-color);
}

.create-account-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--red-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.create-account-btn:hover {
    background-color:var(--red-hover);
}

.google-btn {
    width: 100%;
    padding: 12px;
    background-color:var(--grey-color);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.google-btn i {
    margin-right: 10px;
    color: var(--red-color);
}

.google-btn:hover {
    border-color: var(--black-color);
}

.login-link {
    text-align: center;
    color: #000;
}

.login-link a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
}
.subscribe-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 5px;
    width: 200px;
}

.subscribe-form input {
    border: none;
    background: transparent;
    padding: 8px;
    color: #fff;
    outline: none;
    flex-grow: 1;
}

.subscribe-form input::placeholder {
    color: #999;
}